<a href="https://github.com/awaxman11/animation-example"><img style="position: absolute; top: 0; right: 0; border: 0;" src="https://s3.amazonaws.com/github/ribbons/forkme_right_gray_6d6d6d.png" alt="Fork me on GitHub"></a>
<section>
  <div class="social-buttons">
    <div id="fb-root"></div>
    <a href="https://twitter.com/share?text=CSS3 Heart Animation" target="_blank" class="twitter-share-button" data-hashtags="css3, animation" data-via="ajwaxman" data-url="http://heart-animation.herokuapp.com/"></a>
    <a href="https://twitter.com/ajwaxman" class="twitter-follow-button" data-show-count="false">Follow @ajwaxman</a>
    <div class="fb-like" data-href="http://heart-animation.herokuapp.com" data-layout="button_count" data-action="like" data-show-faces="false" data-share="false"></div>
<script></script>
  </div>

  <h1 style="text-align: center;">CSS3 Heart Animation</h1>
  <div class="container animation-1">
    <h2>Animation</h2>
    <h3>click below to animate</h3>
    <div class="image">
    </div>
  </div>
  <div class="container animation-2">
    <h2>Animation (Slow)</h2>
    <h3>click below to animate</h3>
    <div class="image">
    </div>
  </div>
  <div class="container animation-3">
    <h2>Loading State</h2>
    <h3>click below to start/stop</h3>
    <div class="image">
    </div>
  </div>
  <h1 class="shoutout">Icon design and concept by <a href="https://twitter.com/mladenz">Mladen Zivanovic</a></h1>
</section>

<script>
  
  // Tweet Button
  !function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');

  // Twitter follow button
  !function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');

  // FB JavaScript
  (function(d, s, id) {
    var js, fjs = d.getElementsByTagName(s)[0];
    if (d.getElementById(id)) return;
    js = d.createElement(s); js.id = id;
    js.src = "//connect.facebook.net/en_US/all.js#xfbml=1&appId=609595435757991";
    fjs.parentNode.insertBefore(js, fjs);
  }(document, 'script', 'facebook-jssdk'));
</script>